body {
    font-family: sans-serif;
}
.nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px dotted gray;
    padding: 10px;
    margin-bottom: 10px;
}
.nav a {
    text-decoration: none;
    color: orangered;
    font-size: 1.3em;
}