body {
    font-family: sans-serif;
}
.nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1 px solid black;;
}
.nav a {
    text-decoration: none;
    color: orangered;
    font-size: 1.3em;
}