.results {
    list-style: decimal;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.query-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}